// Colours

$black: #917d7d;
$true-black: #000;
$white: #fff;
$dark-grey: #282828;
$light-grey: #eeeeee;
$off-white: #f4f4f4;
$stone-white: #d6d4d4;
$dark-mint: #5fceac;
$mint: #6bedc8;
$light-mint: #a6f4de;
$dark-blue: #273963;
$blue: #5c7abf;
$light-blue: #86a7ea;
$orange: #f4a70f;
$button-bg: #359074;
